{% extends 'base.html.twig' %}

{% block title %}Explorer{% endblock %}

{% block body %}

<div class="pt-6 min-vh-100">
    <div class="container">
        {% if files|length == 0 %}

            <div class="container">
                <h5>You have no files stored</h5>
            </div>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            {% trans from 'messages' %}File name{% endtrans %}
                        </th>
                        <th scope="col">
                            {% trans from 'messages' %}File extension{% endtrans %}
                        </th>
                        <th scope="col">
                            {% trans from 'messages' %}File size{% endtrans %}
                        </th>
                        <th scope="col">
                            {% trans from 'messages' %}Manage{% endtrans %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>
                                {{ file.originalFileName }}
                                <a href="#" class="link-secondary">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>
                                {{ file.fileExtension }}
                            </td>
                            <td>
                                {{ file.fileSize }} Kib
                            </td>
                            <td>
                                <a href="/uploads/{{ file.fileName }}" class="link-success" download>
                                    <i class="bi bi-cloud-arrow-down-fill"></i>
                                </a>
                                <a href="/uploads/{{ file.fileName }}" class="link-secondary">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                                <a href="/explorer/delete/{{ file.id }}" class="link-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
