<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Assets #}
        {{ assets({files: ['assets/css/bootstrap/bootstrap.min.css'] }) }}
        {{ assets({files: ['assets/css/bootstrap-icons/bootstrap-icons.css'] }) }}

        <title>{{ title }}</title>
    </head>

    <body>
        {% block content %}
        {% endblock %}

        {# Assets #}
        {{ assets({ files: [ 'assets/js/jquery.min.js' ] }) }}
        {# {{ assets({ files: [ 'assets/js/bootstrap/bootstrap.min.js' ] }) }} #}
        {{ assets({ files: [ 'assets/js/bootstrap/bootstrap.bundle.min.js' ] }) }}
    </body>

</html>
