<nav class="navbar navbar-expand fixed-top border-bottom bg-light">

    <div class="container">
        <div class="d-flex w-100 justify-content-between">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url('app_home') }}" class="nav-link fw-bold ">{{ name }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('app_explorer') }}" class="nav-link">
                        {% trans  from 'messages' %}Explorer{% endtrans %}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ url('app_explorer_upload') }}" class="nav-link">
                            {% trans  from 'messages' %}Upload{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('app_profile') }}" class="nav-link link-dark">
                            @{{ app.user.username }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a 
                        href="{{ app.user ? url('app_logout') : url('app_login') }}" 
                        class="nav-link">
                        {% if app.user is empty %}
                            {% trans from 'messages' %}Login{% endtrans %}
                        {% else %}
                            {% trans from 'messages' %}Logout{% endtrans %}
                        {% endif %}
                    </a>
                </li>
            </ul>

        </div>
    </div>

</nav>